.products_gallery{
    display: grid;
    grid-column-gap: 3%;
    grid-row-gap: 50px;
    grid-auto-rows: 350px;
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
    padding-top: 2%;
    margin-bottom: 175px;
}
.product-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }